agents
beautifulsoup4
duckduckgo-search
fastapi
google-api-python-client
google-auth
google-auth-oauthlib
litellm
playwright
pylatexenc
python-dotenv
python-kasa
pytz
requests
RestrictedPython
rich
sympy
termcolor
uvicorn
backports.zoneinfo
